<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Novagest00001.My.MySettings.CompugestConnectionString"
            connectionString="Data Source=SRVV01;Initial Catalog=Compugest;Persist Security Info=True;User ID=sa;Password=horto"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
